{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>


{% block content %}
    <div class="main-content">
        <h3 style="font-size: 20px;">Members</h3>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
                
            </tr>
        </thead>
        
        <tbody>
            {% for member in members %}
            <tr>
                <td>{{member}}</td>
                <td>{{member.leadership_position}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
</body>
</html>